---
layout: default
title: Yo it's Ashley
permalink: /
---

<div class="project-block mx-auto" style="max-width: 700px;">

    <div style="border: solid 5px rgb(219, 23, 72); padding: 1em; margin: 1em;">
        <h1><b>Annoucement (9/27/22)</b></h1>
        <p>So it looks like Heroku is getting rid of free dynos...which is what most of my apps run on...which means all the demos I have linked on my site will not work...I will try to resolve this issue, but it will take a while.</p> 
    </div style="border: solid 5px rgb(219, 23, 72); padding: 1em; margin: 1em;">

    <h1 class="display-5 text-center">Featured Projects</h1>
    {% assign feature_projects = site.projects | where_exp:"project", "project.tags contains 'feature'" %}
    {% for project in feature_projects %}
        <div class="row my-4 feature-projects">
            <div class="col">
                {% if project.icon %}<img src="{{ project.icon }}" style="vertical-align: center; height: 2em;">{% endif %}
                <a href="{{ project.url }}" class="text-decoration-none fs-1 lh-1">{{ project.name }}</a><br>
                {{ project.description }}
            </div>
            
            <div class="col-md-4 text-end pt-1 project-metrics">
                <div class="fs-5 fw-bold">
                    {{ project.time }}
                </div>
                <div class="project-tag text-muted fst-italic">
                    {{ project.tags | join: ','}}
                </div>
                <!-- {% for tag in project.tags %}
                    <button class="tag btn btn-primary p-1 mb-1">
                        <a href="/filter-{{ tag }}">{{ tag }}</a>
                    </button>
                {% endfor %} -->
            </div>
        </div>
    {% endfor %}

    <hr>

    <h1 class="display-5 text-center">Other Projects</h1>
    {% for project in site.projects %}
        {% unless project.tags contains 'feature' %}
        <div class="project-block mx-auto" style="max-width: 700px;">
            <div class="row my-4">
                <div class="col">
                    {% if project.icon %}<img src="{{ project.icon }}" style="height: 2em;">{% endif %}
                    <a href="{{ project.url }}" class="text-decoration-none fs-1 lh-1">{{ project.name }}</a><br>
                    {{ project.description }}
                </div>
                <div class="col-md-4 text-end pt-1 project-metrics">
                    <div class="fs-5 fw-bold">
                        {{ project.time }}
                    </div>
                    <div class="project-tags text-muted fst-italic">
                        {{ project.tags | join: ','}}
                    </div>
                </div>
            </div>
        {% endunless %}
    {% endfor %}

</div>

<hr>
