---
layout: default
title: Yo it's Ashley
permalink: /
---

{% assign projects = site.projects %}

<div class="project-block mx-auto" style="max-width: 700px;">

    {% assign feature_projects = site.projects | where_exp:"project", "project.tags contains 'feature'" %}
    {% for project in feature_projects %}
        <div class="row py-1 my-4 feature-projects">
            <div class="col">
                    <a href="{{ project.url }}" class="text-decoration-none fs-1 lh-1">{{ project.name }}</a><br>
                    {{ project.description }}
            </div>
            <div class="col-md-4 text-end pt-1 project-metrics">
                <div class="fs-5 fw-bold">
                    {{ project.time }}
                </div>
                <div class="project-tag text-muted fst-italic">
                    {{ project.tags | join: ','}}
                </div>
                <!-- {% for tag in project.tags %}
                    <button class="tag btn btn-primary p-1 mb-1">
                        <a href="/filter-{{ tag }}">{{ tag }}</a>
                    </button>
                {% endfor %} -->
            </div>
        </div>
    {% endfor %}

    <hr>

    {% for project in site.projects %}
    {% unless project.tags contains 'feature' %}
    <div class="project-block mx-auto" style="max-width: 700px;">
        <div class="row py-1 my-4">
            <div class="col">
                    <a href="{{ project.url }}" class="text-decoration-none fs-1 lh-1">{{ project.name }}</a><br>
                    {{ project.description }}
            </div>
            <div class="col-md-4 text-end pt-1 project-metrics">
                <div class="fs-5 fw-bold">
                    {{ project.time }}
                </div>
                <div class="project-tags text-muted fst-italic">
                    {{ project.tags | join: ','}}
                </div>
            </div>
        </div>
    {% endunless %}
    {% endfor %}

    <span><a href="/potentials.html">View a list of potential projects I have in store...</a></span>

</div>

<hr>