---
layout: default
---

<div class="mx-auto" style="max-width: 750px;">

    <a href="/">&lt;&lt; Back to main projects</a>

    <div class="text-center my-4">
        <div class="fs-1">Potential Projects</div>
        <div>A list of projects I would love to work on, but don't have time, don't have the skill, don't have the vision...</div>
    </div>

    <div class="my-5">
        <ul>
            {% for project in site.potentials %}
            <li>
                <a href="{{ project.permalink }}">{{ project.name }}</a>
                {% if project.time %}
                    <div class="text-muted"><b>Planning:</b> {{ project.time }}</div>
                {% endif %}
                <p>{{ project.description }}</p>  
            </li>
            {% endfor %}
        </ul>
        
    </div>
    

</div>
