@font-face {
    font-family: MyFont;
    src: url(MyFont.ttf);
}

.dark-mode {
    color: white;
    background-color: rgb(24, 24, 24);

    a {

    }
}

html, body{
    height: 100%;
    font-family: 'Inclusive Sans', sans-serif;
    
    p{
        font-size: 2vh;
        margin: 1em 0%;
    
        * { // all descendants will have same sizing
            font-size: 1em;
        }
    }

    a{
        color: #475e9e;

        &:hover{
            color: #234297;
        }
        
    }

}

.header-title{
    
    font-family: 'Monofett', cursive;
    font-size: 7vh;
    text-shadow: 0.5px 1px #b6b4b4;

}

main{
    min-height: calc(100% - 220px);

    section{
        margin: 6vh auto;

        .section-heading{
            font-family: 'Monofett', cursive;
            text-shadow: 0.5px 1px #8d8c8c;
            font-size: 5vh;
            text-align: center;
            margin: 10px 0px;
        }

    }

    #projectAccordion{
    
        > * {
            margin-top: 1em;
        }
    
        #projectAccordion-buttons{
            text-align: center;
    
            button{
                background-color: #3654a9;
                font-size: large;
    
                // attribute selector
                &[aria-expanded="true"]{
                    font-size: x-large;
                    background-color: #263d7c;
                }
            }
            
        }
        
    }

    .project{
    
        font-family: 'Inclusive Sans', sans-serif;
        border: 1px solid;
        margin: auto;

        .tag{

            border: 1.5px solid;
            border-radius: 0.5em;
            padding: 0.1em 0.3em;
            
        }
    
        .project-description{
            border-right: 1px solid;
            padding: 1em;
            // scrollbar-width: none;
            // overflow-y: scroll;
        }
    
        .project-image{
    
            padding: 0px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            
        }
    }

}

.project-page-header{

    margin-top: 6vh;

    .project-page-banner{
        width: 100%;
        height: 15vh;
        object-fit: cover;
        border: 1px solid;
    }

}

.project-content{

    margin: auto;
    margin-top: 5vh;

    li{
        font-size: 1.5em; // relative to enclosing parent
        color:rgb(114, 114, 114);
 
        // all descendants will be the same size
        li {
            font-size: 1em;
        }
    }

    img{
        width: 100%;
    }

    .pic{ // short for caption
        color:rgb(114, 114, 114);
        font-size: 2vh;
        text-align:center;
        font-style:italic;
        line-height: 2;
        margin: 2em 0%;
    }

    iframe{
        width: 100%;
        aspect-ratio: 16 / 9;
        margin: 2em 0px;
    }
}



@media screen and (max-width: 900px){
    .project-metrics {
        padding-top: 0px !important;
        text-align: left !important;
    }
}