---
layout: default
---

<div class="mx-auto mb-5" style="max-width: 750px;">
    <a href="/potentials.html">&lt;&lt; Back to potential projects</a>

    <div class="my-5 text-center">
        <div class="text-danger text-center fs-3 fst-italic">A <u>potential</u> project</div>
        <div class="display-2">{{ page.name }}</div>
        <div>
            <div class="fs-5 fst-italic">
                {{ page.description }}
                <span>
                    {% if page.time %}
                        (Planning {{ page.time }})
                    {% else %}
                        {{ page.time }}
                    {% endif %}    
                </span> 
            </div>
            <div class="project-tags text-muted">
                {{ page.tags | join: ','}}
            </div>
        </div>
    </div>

    <div class="fs-5 project-content">
        {{ content }}    
    </div>
        
</div>

