---
layout: default
---

<div class="project-page mx-auto" style="max-width: 900px;">
    <div class="project-page-header">
        {% if page.icon %}
            <div class="project-page-banner" style="background-image: url({{page.icon}});"></div>
        {% endif %}
        <div class="display-2 mt-3 fw-bold">
            {{ page.name }}
        </div>
        <div class="display-6 fst-italic">
            {{ page.description}}
        </div>
        <div class="mt-4 fs-2 fst-italic">
            {% if page.time %}Created ~ {{ page.time }} <br>{% endif %}
            {% if page.tech %}Tech Used ~ {{ page.tech | split: " " | join: ", " }}{% endif %}
        </div>
        <div>
            {% if page.github_repo %}
            <a href="https://www.github.com/brainuser5705/{{ page.github_repo }}">
                <img class="my-4" src="/assets/images/GitHub-Mark-64px.png" style="height: 3em;">
            </a>
            {% endif %}
        </div>   
    </div>
    <hr>
    <div class="project-content" style="max-width: 850px;">
        {{ content }}
    </div>

</div>